@using HairSalon.Models;

<h1>Hair Salon</h1>
<h2>Stylist: @Model["stylist"].GetDetails()</h2>
<hr />

@if (@Model["stylistClients"].Count != 0)
{
  <h4>Here are all of the clients for this stylist:</h4>
  <ul>
    @foreach (Client client in @Model["stylistClients"])
    {
      <li>@client.GetName()</li>
    }
  </ul>
}

@if (@Model["stylistSpecialties"].Count != 0)
{
  <h4>Here are all of the specialties for this stylist:</h4>
  <ul>
    @foreach (Spacialty specialty in @Model["stylistSpecialties"])
    {
      <li>@specialty.GetName()</li>
    }
  </ul>
}

<h4>Add a client to this stylist:</h4>

<form action='/stylists/@Model["stylist"].GetId()/clients/new' method='post'>
  <label for='clientId'>Select a client</label>
  <select id='clientId' name='clientId' type='text'>

    @foreach (var client in @Model["allClients"])
    {
      <option value='@client.GetId()'>@client.GetName()</option>
    }

  </select>
  <button type='submit'>Add</button>
</form>

<h4>Add a specialty to this stylist:</h4>

<form action='/stylists/@Model["stylist"].GetId()/specialties/new' method='post'>
  <label for='specialtyId'>Select a specialty</label>
  <select id='specialtyId' name='specialtyId' type='text'>

    @foreach (var client in @Model["allSpecialties"])
    {
      <option value='@specialty.GetId()'>@specialty.GetName()</option>
    }

  </select>
  <button type='submit'>Add</button>
</form>

<p><a href='/stylists/@Model["stylist"].GetId()/edit'>Edit this Stylist</a></p>
<p><a href='/stylists/@Model["stylist"].GetId()/delete'>Delete this Stylist</a></p>
<p><a href="/">Return to Main Page</a></p>
